/* CSS Reset */

* {
    margin: 0; 
    padding: 0; 
}


/* Home Page */

.nav-bar {
    display: flex;
}
.nav-bar img {
    height: 50% ; 
    width: 45%;
}
.nav-right {
    display: flex;
}

.home-page-background {
    background-image: url("/images/home_page_background.jpeg");
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


/* footer */

#footer-right {
    display: flex;
    justify-content: end ;
    column-gap:30px;
    margin-right: 4%;
    /* i will wait for the border of the nav to match it  */
}

.footer-font {
    font-family: 'Roboto';
    font-weight: 200;
    font-style: italic;
    font-weight: lighter;
}

.footer-font p{
    font-size: 0.9rem;
}

.footer-font h3{
    font-size: 1.1rem;
}