/* CSS Reset */

* {
    margin: 0; 
    padding: 0; 
}


/* Home Page */

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color:rgba(44, 105, 141,0.5);
    margin: 0;
    
     
}
.side{
    display: flex;
    gap: 2.5rem;
 
   padding-right: 2rem;
    
}
.side a:link {
    text-decoration: none;
    color:  #ffffff;
    
    font-size: 1.2rem;
}
.side a:visited{
    color: #ffffff;
}

#logo{
    width: 200px;
     
    border-radius: 50%;
}
.title {
     font-size: 1.5rem;
}
/* _________________burgermenu____________________ */
.Profile {
    position: relative;
  }
  
  .burgermenu {
    display: none;
    position: absolute;
    top: 100%;
     
    background-color: #646363;
     
    width: 150px;
    margin-right: 100px;
  }
  
  .Profile:hover .burgermenu {
    display: block;
  }
  /* _______________________________________________________ */
/* ________________________________________________________________ */
.home-page-background {
    background-image: url("images/desk-office.jpg");
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
}

.laptop{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
      
    width: fit-content;
     padding-top: 0px;
     height: fit-content;
     
}
.laptop img{
    cursor: pointer;
}
.product-name{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.price{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.button-laptop{
    margin-top: 10px;
    position: relative;
    top: 4px;
    right:  10px;
}

.image img{
    width: 300px;
    height: 250px;
    
}
.icon  {
    width: 27px;
    margin-top: 7px;
    position: relative;
    top: 6px;
    right:  10px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: space-around;
}
     


/* footer */

#footer-right {
    display: flex;
    justify-content: end ;
    column-gap:30px;
    margin-right: 4%;
    /* i will wait for the border of the nav to match it  */
}

.footer-font {
    font-family: 'Roboto';
    font-weight: 200;
    font-style: italic;
    font-weight: lighter;
}

.footer-font p{
    font-size: 0.9rem;
}

.footer-font h3{
    font-size: 1.1rem;
}



  .category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 200px;
    margin: auto;
    margin-bottom: 100px;
    margin-Top: 100px;
  }
  .category img{
    cursor: pointer;
  }

  /* __________________________________________________________________ */
  .footer-container{
    display: flex;
    justify-content: space-between;
    background-color:rgba(44, 105, 141,0.5);
    margin-top: 18px
}

.footer-container > * {
    margin: 10px 50px
}

.footer-container img{
    width: 200px;
    height : 100px;
}
/* _________________________________________________________ */