/* css reset */
* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    border: 0;
    
}

 

/* header */
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: rgba(44, 105, 141,0.5);
    margin: 0;
    
    /* border: 1px black solid; */
}
.side{
    display: flex;
    gap: 2.5rem;
 
   padding-right: 2rem;
    
}
.side a:link {
    text-decoration: none;
    color: rgb(224, 217, 217);
    
    font-size: 1.2rem;
}

.side a:visited{
    color: #ffffff;
}


#logo{
    width: 200px;
    
}
.title {
     font-size: 1.5rem;
}
.image img{
    width: 300px;
    height: 250px;
    
}
.icon  {
    width: 27px;
    margin-top: 7px;
    position: relative;
    top: 6px;
    right:  10px;
    
}.Profile {
    position: relative;
  }
  
  .burgermenu {
    display: none;
    position: absolute;
    top: 100%;
     
    background-color: #646363;
     
    width: 150px;
    margin-right: 100px;
  }
  
  .Profile:hover .burgermenu {
    display: block;
  }
/* body */

body {
    background-image: url(../images/view-cart-background.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
}

.view-cart {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.view-cart h1 {
    text-align: center;
}

.h1{
    padding-top: 30px;
    font-size: 2rem;
}


.product-details {
    display: flex;
    column-gap: 50px;
    margin-left: 16%;
    border: 3px solid silver;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    /* box-shadow: 
    inset 0px 11px 8px -10px #2C698D ,
    inset 0px -11px 8px -10px #2C698D ;   */
    width: 70%;
    padding: 30px;
    
}

.product-image img{
    height:40%;
    width: 40%;
}

.product-info {
    display: flex;
    flex-direction: column;
    row-gap: 2%;
}

.price-quantity{
    margin-top: 26%;
    display: flex;
    column-gap: 300px;
}




/* checkout */

.checkout {
    display: flex;
    column-gap: 600px;
    margin-top: 3%;
    justify-content: center;
}

.checkout-price {
    display: flex;
    flex-direction: column;
}

.button {
    cursor: pointer;
    border: 1px solid #2C698D;
    padding: 14px 30px;
    border-radius: 20px;
    /* border-radius: 200px; */
    color: #fff;
    background: #2C698D;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    transition: 200ms;
}

.button:hover {
        background: #fff;
        color: #2C698D;
}


/* footer */
 
 


.footer-container{
    display: flex;
    position: relative;
    bottom: 0px;
    justify-content: space-between;
    background-color:rgba(44, 105, 141,0.5);
    margin-top: 130px

    
}

.footer-container > * {
    margin: 10px 50px
}

.footer-container img{
    width: 200px;
    height : 100px;
}
/* _________________________________________________________ */
.footer_left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
}