.container_checkout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}
.box_checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    
}

.box_summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.p_summary{
    display:inline;
}