.container_checkout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}
.box_checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    
}

.box_summary{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    background-color: gainsboro;
}

.box_summary_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 150px;
    background-color: gainsboro;
    
}
.p_summary{
    display:inline;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}
.box_shipping{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: gainsboro;
}
.p_shipping{
    display:block;
    text-align: center;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}