*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body,
html {
  height: 100%;
}

  .flexbox{
    display : flex;
    justify-content: space-between;
    align-items: center;
    height : 500px;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    background-color: rgb(240, 240, 240);
    margin: auto;
    border-radius: 20px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin-top: 100px;
  }

  .heading{
    font-family: 'Segoe UI';
    color: #2C698D;
    font-size: 20px
  }

.input{
    font-family: 'Segoe UI';
    font-size: large;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

.button {
    cursor: pointer;
    width: 75%;
    border: 1px solid #2C698D;
    padding: 14px 30px;
    border-radius: 200px;
    color: #fff;
    background: #2C698D;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    transition: 200ms;
}


  /* .login > *{
    margin: 20px
  } */

  /* .submit {
    text-align: center;
  } */