*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height : 600px;
    flex-wrap: wrap;
    margin-top: 100px;
}

img{
    width: 500px;
    height: 300px
}

.product-details{
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
    bottom: 25px;
    margin-left: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}
.product-details p,button{
    padding-bottom: 30px;
}

.product-details input{
width: 35px;
display : inline-block
}

.span{
    padding-left: 350px;
}

/* .quantity{
    display: inline-block;
    width: 200px
} */
/* .product-name {
    vertical-align: top;
} */



